.container {
    height: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.hamburger_menu {
    display: none;
}

.navigation_bar {
    font-family: 'Memefont', 'Noto Sans KR', sans-serif;
    position: fixed;
    width: 100%;
    transition: 0.5s ease-in-out;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 36px;
    top: 0%;
    right: 0%;
    z-index: 99;
    background-color: transparent;
    padding-right: 24px;
}

.navigation_bar.scrolling {
    background-color: rgba(0, 133, 133, 0.801);
    ;
}

.navigation_bar a {
    color: var(--color-black);
    text-decoration: none;
    text-transform: uppercase;
}

.navigation_bar video {
    width: 80px;
    height: 80px;
}

header {
    height: 100vh;
    min-height: 400px;
    position: relative;
    overflow: hidden;
}


@keyframes popUpAnimation {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.main_header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    height: 100%;
    gap: 2%;
    font-family: 'MemeFont', 'Noto Sans KR', sans-serif;
    transition: 0.5s ease-in-out;
    overflow: hidden;
}

.image_header {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 70vh;
    aspect-ratio: 1/1;
    z-index: -1;
    transform: scaleX(-1) translateX(10%);
}

.main_header .header_logo {
    font-size: 12rem;
    font-weight: 700;
    color: var(--color-black);
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.main_header .header_describe {
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--color-black);
    opacity: 0;
    transition: 0.5s ease-in-out 0.2s;
}

.header_function {
    width: 100%;
    justify-content: end;
    align-items: center;
    display: flex;
    gap: 1%;
}

.header_function button {
    width: 50px;
    height: 50px;
    padding: 12px;

    background-color: var(--color-white);
    border-radius: 12px;
    border: 2px solid var(--color-black);
}

.header_function button:nth-child(1) {
    font-family: 'MemeFont', 'Noto Sans KR', sans-serif;
    width: max-content;
    height: max-content;
    padding: 24px;
    background-color: var(--color-secondary);
    border-radius: 0px;
    border: 4px solid var(--color-black);
    transform: translateX(-20%);
    font-size: 1.7rem;
    opacity: 0;
    transition: 0.5s ease-in-out 0.3s;
    border-radius: 10px;
}

.header_function button:nth-child(2) {
    transform: rotateZ(25deg);
    opacity: 0;
    transition: 0.5s ease-in-out 0.6s;
}

.header_function button:nth-child(3) {
    transform: rotateZ(-5deg);
    opacity: 0;
    transition: 0.5s ease-in-out 0.9s;
}

.header_function button img {
    width: 100%;
    height: 100%;
}

:is(.header_logo, .header_describe, .header_function button:nth-child(1), .header_function button:nth-child(2), .header_function button:nth-child(3)).active {
    opacity: 1;
}

.masked_imgage {
    position: absolute;
    width: 450px;
    aspect-ratio: 1/1;
    --webkit-mask-size: 50%;
    mask-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.masked_imgage:nth-child(1) {
    top: 2%;
    left: 0;

}

.masked_imgage:nth-child(2) {
    bottom: 2%;
    right: 0;
    transform: scaleX(-1);
}

.marquee {
    overflow: hidden;
    font-family: 'MemeFont', 'Noto Sans KR', sans-serif;
    font-size: 2rem;
    border-top: 4px solid var(--color-black);
    border-bottom: 4px solid var(--color-black);
    padding: 12px 0;
    background-color: var(--color-secondary);
}

.marquee div {
    width: 100%;
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: start;
    animation: marquee 2s linear infinite;
}

.marquee div div {
    width: 5vw;
}

@keyframes marquee {
    100% {
        transform: translateX(calc((-3 * 5vw) + (-3 * 24px)));
    }
}



.marquee_2 img {
    width: 100px;
    height: 160px;
    margin-right: 12px;
    --direction: calc(19 * 112px);
    animation: move 28s linear infinite;
    border-radius: 10px;
}

@keyframes move {
    100% {
        transform: translateX(var(--direction));
    }
}


.network_hero {
    background-color: var(--color-black);
    font-family: 'Memefont', 'Noto Sans KR', sans-serif;
    width: 100%;
    min-height: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 36px;
    position: relative;
    overflow: hidden;
}

.network_hero .container {
    position: relative;
    z-index: 2;
}

.network_hero .background_imgage {
    position: absolute;
    width: 100px;
    z-index: 1;
    opacity: 0.2;
}


.network_hero .background_imgage:nth-child(1) {
    top: 0;
    left: 12%;
    transition: 15s linear;

}

.network_hero .background_imgage:nth-child(2) {
    top: 77%;
    left: 70%;
    transition: 15s linear;

}

.network_hero .background_imgage:nth-child(3) {
    top: 2%;
    left: 80%;
    transition: 15s linear;
}

.network_hero .background_imgage:nth-child(4) {
    top: 5%;
    left: 25%;
    transition: 15s linear;
}


.network_hero h2 {
    font-size: 5rem;
    color: var(--color-main);
    transform: scale(0);
    transform-origin: center;
    transition: 0.5s ease-in-out;
}

.network_hero h3 {
    font-size: 2rem;
    color: var(--color-white);
    transform: scale(0);
    transform-origin: center;
    transition: 0.5s ease-in-out 0.2s;
}

.network_hero h3:nth-child(4) {
    transition: 0.5s ease-in-out 1s;
}

.list {
    width: 100%;
    display: flex;
    overflow: hidden;
    gap: 12px;
}

.list img {
    margin: 48px 0;
    padding: 24px;
    width: 200px;
    height: 200px;
    border: 3px solid var(--color-white);
    border-radius: 12px;
    transform: scale(0);
    transform-origin: center;
    transition: 0.5s ease-in-out 0.4s;
    animation: marquee_partner 15s linear infinite;
}

@keyframes marquee_partner {
    100% {
        transform: translateX(calc(-6 * 212px));
    }
}

.list img:nth-child(2n) {
    transition: 0.5s ease-in-out 0.6s;
}

.list img:nth-child(2n + 1) {
    transition: 0.5s ease-in-out 0.8s;
}

:is(.network_hero h2, .network_hero h3, .list img).active {
    transform: scale(1);
}

.roadmap_hero {
    min-height: 400px;
    width: 100%;
    height: 100vh;
    margin: auto;
    text-align: left;
    position: relative;
}

.roadmap_head {
    font-family: 'MemeFont', 'Noto Sans KR', sans-serif;
    stroke-dasharray: 500;
    stroke: var(--color-black);
    fill: var(--color-secondary);
}

.roadmap_head.active {
    stroke-width: 3;
    animation: writeBase 6s ease-in-out;
}

@keyframes writeBase {
    0% {

        stroke-dashoffset: 500;
    }

    80% {
        stroke-dashoffset: 0;
    }
}

.roadmap_hero .container {
    padding: 24px 0 96px 0;
}

.roadmap_list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 62px;
    gap: 12px;
    overflow-x: scroll;
    overscroll-behavior-inline: contain;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.roadmap_list::-webkit-scrollbar {
    display: none;
}

.button_scroll_roadmap {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 78%;
    top: 45%;
    left: 11%;

}

.button_scroll_roadmap button {
    cursor: pointer;
    width: 70px;
    height: 70px;
    padding: 12px;
    border-radius: 10px;
    background-color: transparent;
    border: 4px solid var(--color-secondary);
    color: var(--color-secondary);
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'MemeFont', 'Noto Sans KR', sans-serif;
    background-color: var(--color-black);
}

.roadmap_item {
    background: var(--color-black);
    width: 390px;
    height: 600px;
    border: 4px solid var(--color-secondary);
    text-align: start;
    padding: 12px;
    overflow-x: hidden;
    opacity: 0;
    flex-shrink: 0;
    transform: translateX(100%);
    scroll-snap-align: start;
    display: grid;
    grid-template-rows: fit-content(100px) 1fr 1fr;
}

.roadmap_item.active {
    transform: translateX(0);
    opacity: 1;
    transition: 0.5s ease-in-out;
}

.roadmap_item:nth-child(2).active {
    transform: translateX(0);
    opacity: 1;
    transition: 0.5s ease-in-out 0.2s;
}

.roadmap_item:nth-child(3).active {
    transform: translateX(0);
    opacity: 1;
    transition: 0.5s ease-in-out 0.4s;
}

.roadmap_item h3 {
    color: var(--color-white);
    font-family: 'MemeFont', 'Noto Sans KR', sans-serif;
    font-size: 2rem;
}

.roadmap_item ol {
    font-family: 'MemeFont2', 'Noto Sans KR', sans-serif;
    padding: 5% 0 0 5%;
    color: var(--color-white);
    text-decoration: none;
    list-style-type: disc;
    line-height: 40px;
}

.roadmap_item img {
    width: 300px;
    position: relative;
    align-self: end;
    justify-self: center;
}

.tokennomics_hero {
    width: 100%;
    background-color: var(--color-black);
    font-family: 'Memefont', 'Noto Sans KR', sans-serif;
    overflow: hidden;
    height: 90vh;
    position: relative;
}

.tokennomics_hero .container {
    padding: 48px 0 48px 0;
    height: fit-content;
}

.tokennomics_hero h2 {
    text-align: center;
    font-size: 5rem;
    color: var(--color-secondary);
    transform: translateX(100%);
    transition: 0.5s ease-in-out;
}

.tokennomics_hero h2.active {
    transform: translateX(0%);
}

.tokenomics_list_all {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.tokenomics_list_all img {
    position: absolute;
    left: 33%;
    bottom: 0;
    width: 500px;
    aspect-ratio: 1/1;
}

.tokenomics_list {
    display: flex;
    flex-direction: column;
}

.tokenomics_item {
    color: var(--color-white);
    display: flex;
    align-items: center;
    margin: 12px 0;
    gap: 12px;
    font-size: 1rem;
    opacity: 0;
    transition: 0.5s ease-in-out;
    transform: translateX(-100%);
    font-family: 'MemeFont2', 'Noto Sans KR', sans-serif;
}

.img_token {
    width: 100%;
    aspect-ratio: 4/3;
}

.tokenomics_item:nth-child(2) {
    transition: 0.5s ease-in-out 0.1s;
}

.tokenomics_item:nth-child(3) {
    transition: 0.5s ease-in-out 0.2s;
}

.tokenomics_item:nth-child(4) {
    transition: 0.5s ease-in-out 0.3s;
}

.tokenomics_item:nth-child(5) {
    transition: 0.5s ease-in-out 0.4s;
}

.tokenomics_item:nth-child(6) {
    transition: 0.5s ease-in-out 0.5s;
}

.tokenomics_item:nth-child(7) {
    transition: 0.5s ease-in-out 0.6s;
}

.tokenomics_item:nth-child(8) {
    transition: 0.5s ease-in-out 0.7s;
}

.tokenomics_item.active {
    transform: translateX(0%);
    opacity: 1;
}


.tokenomics_item p {
    color: var(--color-main);
}

.tokenomics_chart {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.tokenomics_chart img {
    width: 50%;
    aspect-ratio: 1/1;
}

.about_hero {
    width: 100%;
    height: 100vh;
    padding: 24px 0 24px 0;
    font-family: 'Memefont', 'Noto Sans KR', sans-serif;
}

.about_hero .container {
    padding: 24px 0 24px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about_hero .about_image img {
    width: 100%;
    aspect-ratio: 1/1;
    transform: scale(0);
    transition: 0.5s ease-in-out;
}

.about_hero .about_image img.active {
    transform: scale(1);
}

.about_content {
    flex-shrink: 0;
    width: 30vw;
}

.about_content h2 {
    color: var(--color-secondary);
    font-size: 3.5rem;
    transform: scaleX(0);
    transition: 0.5s ease-in-out 0.2s;
}

.about_content p {
    transform: scaleX(0);
    transition: 0.5s ease-in-out 0.4s;
    font-family: 'MemeFont2', 'Noto Sans KR', sans-serif;
}

.about_content h2.active {
    transform: scaleX(1);
}

.about_content p.active {
    transform: scaleX(1);
}

.social_hero {
    width: 100%;
    height: 100vh;
}

.social_hero .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Memefont', 'Noto Sans KR', sans-serif;
}

.social_hero h2 {
    font-size: 5rem;
    color: var(--color-secondary);
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.social_hero h3 {
    opacity: 0;
    animation: flicky 0.5s ease-in-out infinite;
    transition: 0.5s ease-in-out 0.2s;
}

.social_hero h2.active {
    opacity: 1;
}

.social_hero h3.active {
    opacity: 1;
}

@keyframes flicky {
    100% {
        transform: scale(1.1);
    }
}

.social_hero_function {
    width: 100%;
    display: flex;
    gap: 36px;
    margin-top: 24px;
    align-items: center;
    justify-content: center;
}

.social_hero_function button {
    width: 90px;
    height: 60px;
    background-color: white;
    padding: 12px;
    border: 2px solid var(--color-black);
    border-radius: 10px;
    opacity: 0;
    transition: 0.5s ease-in-out 0.4s;
}

.social_hero_function button:nth-child(2) {
    transition: 0.5s ease-in-out 0.6s;
}

.social_hero_function button.active {
    opacity: 1;
}


.social_hero_function button img {
    width: 100%;
    height: 100%;
}

.social_hero_img {
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social_hero_img img {
    width: 400px;
    height: 400px;
    opacity: 0;
    transition: 0.5s ease-in-out 0.8s;
}

.social_hero_img img.active {
    opacity: 1;
}


.social_hero_img img:nth-child(1) {
    transform: scaleX(-1);
}