@media screen and (max-width: 700px) {
    .main_header {
        align-items: center;
    }

    .hamburger_menu {
        height: 25px;
        width: 35px;
        position: fixed;
        top: 2%;
        right: 2%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 99;
        transition: 0.5s ease-in-out;
    }


    .navigation_bar.active {
        transform: translateX(0);
    }

    .hamburger_menu div {
        width: 35px;
        height: 5px;
        background-color: var(--color-secondary);
        border-radius: 15px;
        border: 2px solid var(--color-black);
        box-sizing: border-box;
        transition: 0.5s ease-in-out;
    }

    .hamburger_menu::before {
        box-sizing: border-box;
        position: absolute;
        content: '';
        width: 100%;
        height: 5px;
        background-color: var(--color-secondary);
        top: 0;
        border-radius: 15px;
        border: 2px solid var(--color-black);
        transition: 0.5s ease-in-out;
    }

    .hamburger_menu::after {
        box-sizing: border-box;
        position: absolute;
        content: '';
        width: 100%;
        height: 5px;
        background-color: var(--color-secondary);
        bottom: 0;
        border-radius: 15px;
        border: 2px solid var(--color-black);
        transition: 0.5s ease-in-out;
    }

    .hamburger_menu.active {
        right: 32%;
    }

    .hamburger_menu.active div {
        width: 0;
        background-color: 0;
        border: none;
    }

    .hamburger_menu.active::after {
        top: 50%;
        transform: rotate(45deg);
    }

    .hamburger_menu.active::before {
        top: 50%;
        transform: rotate(-45deg);
    }


    .navigation_bar {
        top: 0;
        right: 0;
        height: 100vh;
        width: 30%;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        border-radius: 12px 0 0 12px;
        transform: translateX(100%);
        transition: 0.5s ease-in-out;
        background-color: rgba(0, 133, 133, 0.801);
        padding-right: 0;
    }

    .navigation_bar .hamburger_menu {
        position: relative;
        transform: translateX(50px);
    }

    .navigation_bar .hamburger_menu div {
        width: 0;
        background-color: 0;
        border: none;
    }

    .navigation_bar .hamburger_menu::after {
        top: 50%;
        left: 50%;
        transform: rotate(45deg);
    }

    .navigation_bar .hamburger_menu::before {
        top: 50%;
        left: 50%;
        transform: rotate(-45deg);
    }

    .navigation_bar a {
        color: var(--color-white);
    }

    .main_header {
        justify-content: start;
        padding-top: 10vh;
    }

    .main_header .header_logo {
        font-size: 5rem;
        font-weight: 700;
    }

    .main_header .header_describe {
        font-size: 1.5rem;
        font-weight: 500;
        color: black;
    }

    .image_header {
        opacity: 1;
        filter: blur(1px);
    }

    .header_function {
        gap: 4%;
        justify-content: center;
    }

    .header_function button:nth-child(1) {
        transform: translateX(-10%);
        font-size: 1rem;
    }

    .masked_imgage {
        width: 65vw;
    }

    .marquee {
        font-size: 1rem;
        width: 100vw;
        overflow: hidden;
    }

    .marquee div {
        gap: 36px;
    }

    .marquee div div {
        width: 5vw;
    }

    @keyframes marquee {
        100% {
            transform: translateX(calc((-3 * 5vw) + (-3 * 36px)));
        }
    }


    .network_hero {
        overflow: hidden;
        width: 100vw;
    }

    .network_hero h2 {
        font-size: 3rem;
    }

    .network_hero h3 {
        font-size: 1rem;
    }

    .list {
        margin: 26px auto;
        grid-template-columns: 1fr;
    }

    .list img {
        padding: 24px;
        width: 100px;
        height: 100px;
        border: 3px solid var(--color-white);
        border-radius: 12px;
        animation: marquee_partner 15s linear infinite;
    }

    @keyframes marquee_partner {
        100% {
            transform: translateX(calc(-6 * 112px));
        }
    }

    .roadmap_hero {
        height: fit-content;
        overflow: hidden;
    }

    .button_scroll_roadmap {
        display: none;
    }

    .roadmap_head {
        margin-left: 10vw;
    }

    .roadmap_head text {
        text-align: center;
        font-size: 4rem;
    }

    .roadmap_list {
        flex-direction: column;
        align-items: center;
    }

    .roadmap_item {
        width: 90%;
    }

    .roadmap_item {
        transform: translateX(-100%);
    }

    .tokennomics_hero {
        overflow: hidden;
        width: 100vw;
        height: fit-content;
    }

    .tokennomics_hero h2 {
        font-size: 3rem;
        padding-right: 12px;
    }

    .tokennomics_hero p {
        opacity: 0.8;
        color: rgb(0, 133, 133);
    }

    .tokenomics_item {
        font-size: 0.7rem;
        padding: 0 12px;
        width: 100%;
        flex-wrap: wrap;
    }

    .about_hero {
        width: 100vw;
        height: fit-content;
        overflow: hidden;
    }

    .about_hero .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .about_hero .about_image img {
        width: 100%;
        aspect-ratio: 1/1;
        padding: 12px;
    }

    .about_content {
        width: 100%;
        padding: 12px;
    }

    .about_content h2 {
        color: var(--color-white);
        font-size: 2rem;
    }

    .about_content p {
        font-size: 1rem;
    }

    .social_hero {
        width: 100vw;
        overflow: hidden;
    }

    .social_hero_img img {
        width: calc(100vw / 2);
        height: calc(100vw / 2);
        opacity: 0;
        transition: 0.5s ease-in-out 0.8s;
    }

    .tokenomics_list_all {
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    .tokenomics_list {
        width: 100%;
    }

    .tokenomics_list_all img {
        left: 0;
        width: 100%;
        opacity: 0.4;
        filter: blur(5px);
    }

    .tokenomics_list {
        z-index: 2;
        border-radius: 10px;
        background-color: var(--color-secondary);
        backdrop-filter: none;
        width: 90%;
    }

    .tokenomics_list h3 {
        color: var(--color-black);
    }
}