@media screen and (max-width: 700px) {
    .main_header .header_logo {
        font-size: 3rem;
        font-weight: 700;
    }

    .main_header .header_describe {
        font-size: 1.5rem;
        font-weight: 500;
        color: black;
    }

    .header_function {
        gap: 4%;
    }

    .header_function button:nth-child(1) {
        transform: translateX(-10%);
        font-size: 1rem;
    }

    .masked_imgage {
        width: 65vw;
    }



    .marquee {
        left: -50%;
        top: -30%;
    }

    .marquee_2 {
        top: 95%;
        right: -50%;
    }

    .network_hero h2 {
        font-size: 3rem;
    }

    .network_hero h3 {
        font-size: 1rem;
    }

    .list {
        margin: 26px auto;

    }

    .list img {
        padding: 24px;
        width: 250px;
        height: 150px;
        border: 3px solid var(--color-white);
        border-radius: 12px;
    }

    .roadmap_hero {
        height: fit-content;
    }

    .button_scroll_roadmap {
        display: none;
    }

    .roadmap_head {
        font-size: 1rem;
        margin-left: 12px;
    }

    .roadmap_list {
        flex-direction: column;
        align-items: center;
    }

    .roadmap_item {
        width: 80%;
        margin: 16px 0;
    }

    .roadmap_item {
        transform: translateX(-100%);
    }

    .tokennomics_hero h2 {
        font-size: 3rem;
        padding-right: 12px;
    }

    .tokenomics_item {
        font-size: 0.7rem;
        padding: 0 12px;
        width: 100%;
    }


    .chart {
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .chart_item p {
        font-size: 0.8rem;
    }

    .chart_item:nth-child(1) {
        width: 60%;
    }

    .chart_item:nth-child(2) {
        width: 30%;
    }

    .chart_item:nth-child(3) {
        width: 28%;
    }

    .chart_item:nth-child(4) {
        width: 26%;
    }

    .chart_item:nth-child(5) {
        width: 24%;
    }

    .chart_item:nth-child(6) {
        width: 22%;
    }

    .chart_item:nth-child(7) {
        width: 20%;
    }

    .chart_item:nth-child(8) {
        width: 18%;
    }

    .about_hero {
        height: fit-content;
    }

    .about_hero .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .about_hero .about_image img {
        width: 100%;
        aspect-ratio: 1/1;
        padding: 12px;
    }

    .about_content {
        width: 100%;
        padding: 12px;
    }

    .about_content h2 {
        color: var(--color-white);
        font-size: 2rem;
    }

    .about_content p {
        font-size: 1rem;
    }

    .social_hero_img img {
        width: calc(100vw / 2);
        height: calc(100vw / 2);
        opacity: 0;
        transition: 0.5s ease-in-out 0.8s;
    }
}